Django==2.2.4
django-autocomplete-light==3.4.1
django-localflavor==2.2
django-widget-tweaks==1.4.5
easy-thumbnails==2.6
Pillow==6.1.0
psycopg2==2.8.3
psycopg2-binary==2.8.3
pycpfcnpj==1.5.1
python-stdnum==1.11
pytz==2019.2
sqlparse==0.3.0
