{% extends 'base.html' %}
{% load staticfiles %}
{% load pagination %}
{% block body %}

<section class="content-header">
	<div class="row">
		<h3 class="col-md-8 col-md-offset-2">Notificação dos certificados</h3>
	</div>
</section>
<div id="listItems" class="content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="box box-primary">
				{% if not message %}
				<div class="box-body">
					<p>Notificação enviada com sucesso.</p>
				</div>
				{% else %}
				<div class="box-body">
					<p>{{ message }}</p>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
