{% extends "base.html" %}

{% block body %} 

<section class="content-header">
  <div class="row">
    <h3 class="col-md-8 col-md-offset-1">

      {{object.edition}}

      {% if object.ativo %}
        <a class="btn btn-success btn-xs">
          Ativa
        </a>
      {% else %}
        <a class="btn btn-danger btn-xs">
          Fechada
        </a>
      {% endif %}
    </h3>
  </div>

</section>

<div id="listItems" class="content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="box box-primary">
        <div class="box-body">
          <div class="table-responsive">
            <table class="table table-hover table-condensed table-bordered table-striped">
              <thead>
                <tr class="text-center">
                  <th class="text-center" width="12%">Inicio</th>
                  <th class="text-center" width="12%">Fim</th>
                  <th class="text-center" width="32%">Organizadores</th>
                  <th class="text-center" width="12%">Abrt. das Inscrições</th>
                  <th class="text-center" width="12%">Fech. das Inscrições</th>
                  <th class="text-center" width="5%">Qtd. Autores</th>
                  <th class="text-center" width="12%">Campus</th>
                  <th class="text-center" width="3%">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ edition.date_start }}</td>
                  <td>{{ edition.date_end }}</td>
                  <td>

                    {% for user in edition.organizers.all %}
                      <a class="btn btn-success btn-xs">
                        {{user}}
                      </a>
                    {% endfor %}

                  </td>
                  <td>{{ edition.start_of_registrations }}</td>
                  <td>{{ edition.end_of_registrations }}</td>
                  <td>{{ edition.qtd_max_authors }}</td>
                  <td>

                    {% for campi in edition.campus.all %}
                      <a class="btn btn-success btn-xs">
                        {{campi}}
                      </a>
                    {% endfor %}

                  </td>

                  <td class="text-center">

                    <a class="btn btn-warning btn-xs" title="Editar" href="{% url 'editions:edit_edition' edition.id %}">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>

                  </td>


                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %} 

