{% extends "base.html" %}

{% block body %} 

<section class="content-header">
  <div class="row">
    <h3 class="col-md-8 col-md-offset-1">{{object.type_of_activity}} : {{object.title}}</h3>
  </div>
  <p class="lead col-md-8 col-md-offset-1">
    <span style="font-weight: bold;">Descrição: </span>{{object.description}}
  </p>
</section>

<div id="listItems" class="content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="box box-primary">
        <div class="box-body">
          <div class="table-responsive">
            <table class="table table-hover table-condensed table-bordered table-striped">
              <thead>
                <tr class="text-center">
                  <th class="text-center" width="20%">Profissional</th>
                  <th class="text-center" width="20%">Local</th>
                  <th class="text-center" width="3%">Vagas</th>
                  <th class="text-center" width="10%">Carga Horaria</th>
                  <th class="text-center" width="12%">Edição</th>
                </tr>
              </thead>
              <tbody>
                <tr>
  
                  <td>{{ object.professional }}</td>
                  <td>{{ object.location }}</td>
                  <td>{{ object.vacancies }}</td>
                  <td>{{ object.workload }}</td>
                  <td>{{ object.edition }}</td>


                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="content-header">
  <div class="row">
    <h3 class="col-md-8 col-md-offset-1">Horários : {{object.type_of_activity}}</h3>
  </div>
</section>

<div id="listItems" class="content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="box box-primary">
        <div class="box-body">
          <div class="table-responsive">
            <table class="table table-hover table-condensed table-bordered table-striped">
              <thead>
                <tr class="text-center">
                  <th class="text-center" width="20%">Data</th>
                  <th class="text-center" width="12%">Inicio</th>
                  <th class="text-center" width="12%">Fim</th>
                </tr>
              </thead>
              <tbody>
                {% for time in times %}
                <tr>
  
                  <td>{{ time.date}}</td>
                  <td>{{ time.date_start}}</td>
                  <td>{{ time.date_end }}</td>

                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} 

